* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: aliceblue;
    & h1{
        font-size: 4.2rem;
    }
    & h2{
        font-size: 3.6rem;
    }
    & h3{
        font-size: 2.4rem;
    }
    & h4{
        font-size: 2rem;
    }
    & h5{
        font-size: 1.8rem;
        font-weight: 200;
    }
    & h6{
        font-size: 1.4rem;
        font-weight: 100;
    }
    font-family: Georgia, 'Times New Roman', Times, serif;
    @media screen and (max-width: 1280px) {
        font-size: 20px;
    }
}

:root{
    --testColor: rgb(255, 0, 255);
    --border-color: rgb(255, 255, 255);
    
}

body{
    position: relative;
    display: flex;
        flex-direction: column;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

nav[class="navbar"]{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    position: fixed;
        bottom: 10vh; /*Refer to height*/
        left: -6rem; 
    z-index: 1;
    width: fit-content;
    height: 80vh;
    padding: 1rem;
    border: 4px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(4px);
    color: white;
    transition: all 0.4s ease;
    
    & ul{
        display: flex;
            flex-direction: column;
            gap: 1.6rem;
        transition: all 0.2s ease;
        opacity: 0;
        list-style: none;
    }
    & a{
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }
    & span{
        position: absolute;
            top: 2rem;
            right: 0;
        writing-mode: sideways-lr;
        font-size: 2rem;
        transition: all 0.2s ease;
        opacity: 1;
        letter-spacing: 0.4rem;
    }
    &[data-is-active="true"]{
        left: 1rem; 
        & span{
            opacity: 0;
        }
        & ul{
            opacity: 1;
        }
    }
    @media screen and (max-width: 720px) {
        display: none;
    }
    @media only screen and (hover: none) and (pointer: coarse){
        display: none;
    }
}
nav[class="navbar-mobile"]{
    display: none;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    position: fixed;
        bottom: 0rem; /*Refer to height*/
        /* left: -30vh;  */
    z-index: 1;
    width: 100vw;
    height: fit-content;
    padding: 1.6rem;
    border: 4px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(4px);
    color: white;
    transition: all 0.4s ease;
    
    & ul{
        display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 1.6rem;
        width: 100%;
        transition: all 0.2s ease;
        opacity: 1;
        list-style: none;
    }
    & a{
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }
    & span{
        position: absolute;
            top: 2rem;
            right: 0;
        writing-mode: sideways-lr;
        font-size: 2rem;
        transition: all 0.2s ease;
        opacity: 1;
        letter-spacing: 0.4rem;
    }
    @media screen and (max-width: 720px) {
        display: flex;
    }
    @media only screen and (hover: none) and (pointer: coarse){
        display: flex;
    }
}
nav[class="contactbar"]{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    position: fixed;
        bottom: 10vh; /*Refer to height*/
        right: -6rem; 
    z-index: 1;
    width: fit-content;
    height: 80vh;
    padding: 1rem;
    border: 4px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(4px);
    color: white;
    transition: all 0.4s ease;
    & ul{
        display: flex;
            flex-direction: column;
            gap: 1.6rem;
        text-align: right;
        list-style: none;
        transition: all 0.2s ease;
        opacity: 0;
    }
    & a{
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }
    & span{
        position: absolute;
            top: 2rem;
            left: 0;
        writing-mode: sideways-rl;
        letter-spacing: 0.4rem;
        font-size: 2rem;
        transition: all 0.2s ease;
        opacity: 1;
    }
    &[data-is-active="true"]{
        right: 1rem; 
        & span{
            opacity: 0;
        }
        & ul{
            opacity: 1;
        }
    }
    @media screen and (max-width: 720px) {
        display: none;
    }
    @media only screen and (hover: none) and (pointer: coarse){
        display: none;
    }
}
/* Each section wrap all the content inside */
section{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    position: relative;
    min-width: 100vw; /* Turn the min-width to width to let the body flex works*/
    min-height: 100vh;
    overflow-y: scroll;
    background-size: cover;
    & div{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
}

section[id="main"]{
    user-select: none;
    background-image: 
        linear-gradient(0deg, rgba(255, 255, 255, 0.3), 10%,rgba(0, 0, 0, 0.4)),
        url('./assets/imgs/nightsky.jpg');
    & h1{
        border-bottom: 1px solid;
        padding: 1rem 0rem;
    }
    & h6{
        padding: 1rem 0rem;
    }
}
section[id="description"]{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    padding: 4rem;
    background-image: 
        linear-gradient(0deg, rgba(255, 255, 255, 0.3), 10%,rgba(0, 0, 0, 0.4)),
        url('./assets/imgs/cat.jpg');
    gap: 1rem;
    & div[class="info-column"]{
        position: relative;
        display: flex;
            flex-direction: column;
            justify-content: space-between;
        height: max-content;
        width: fit-content;
        flex-direction: row;
    }
    & div[id="description"]{
        flex: 3;
        backdrop-filter: blur(16px);
        position: relative;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        min-height: fit-content;
        padding: 2rem;
        overflow-y: scroll;
        border: 4px solid var(--border-color);
        /* Add a horizontal line above the description */
        & p{
            border-top: 1px solid;
            min-height: fit-content;
            padding: 1rem;
        }
        
        
    }
    & img[class="profile"]{
        width: clamp(10vw, 240px, 20vw);
        border: 4px solid var(--border-color);
    }
    & div[id="traits"]{
        flex: 1;
        position: relative;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        padding: 2rem;
        overflow-y: scroll;
        backdrop-filter: blur(16px);
        border: 4px solid var(--border-color);
        & h4{
            border-bottom: 1px solid;
            padding: 1rem 0rem;
        }
    }
    @media screen and (max-width: 960px) {
        flex-direction: column;
        & div[class="info-column"]{
            flex-direction: row;
        }
        div[id="description"]{
            overflow-y: visible;
        }
        & div[id="traits"]{
            overflow-y: visible;
        }
        /* Space for navbar-mobile */
        padding-bottom: 8rem;
    }
    @media only screen and (hover: none) and (pointer: coarse){
        flex-direction: column;
        & div[class="info-column"]{
            flex-direction: row;
        }
        div[id="description"]{
            overflow-y: visible;
        }
        & div[id="traits"]{
            overflow-y: visible;
        }
        /* Space for navbar-mobile */
        padding-bottom: 8rem;
    }
}
section[id="dev"]{
    position: relative;
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 4rem;
    padding: 4rem;
    overflow-y: scroll;
    background-image: 
        linear-gradient(0deg, rgba(255, 255, 255, 0.3), 10%,rgba(0, 0, 0, 0.4)), 
        url('./assets/imgs/code.jpg');
    & p{
        border-top: 1px solid;
        padding: 1rem;
    }
    @media screen and (max-width: 960px) {
        flex-direction: column;
        overflow-y: scroll;
        justify-content: start;
        & div[class="timeline-description"]{
            min-height: fit-content;
        }
    }
    @media only screen and (hover: none) and (pointer: coarse){
        flex-direction: column;
        overflow-y: scroll;
        justify-content: start;
        & div[class="timeline-description"]{
            min-height: fit-content;
        }
    }
}
section[id="art"]{
    position: relative;
    display: flex;
        flex-direction: row;
        justify-content: center;
    background-color: black;
}
ul[class="social-media-list"]{
    position: relative;
    display: flex;
        align-items: end;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
    list-style: none;
    width: 100%;
    padding: 1rem;
    @media screen and (max-width: 960px) {
        flex-direction: row;
    }
    @media only screen and (hover: none) and (pointer: coarse){
        flex-direction: row;
    }
}
img[class="icon"]{
    height: 2rem;
    color: white;
    filter: invert(1);
}
div[class="container"]{
    display: flex;
        flex-direction: row;
        justify-content: center;
    height: 100vh;
    width: 100vw;
    @media (max-width: 960px) {
        justify-content: start;
        flex-direction: column;
    }
    @media only screen and (hover: none) and (pointer: coarse){
        justify-content: start;
        flex-direction: column;
    }
}
div[class="card"]{
    flex: 1;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    &[id="individual-works"]{
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), 20%,rgba(0, 0, 0, 0.349)), 
        url('./assets/imgs/tv.jpg');
        background-size: cover;
        border-right: 2px solid var(--border-color);
        @media screen and (max-width: 960px) {
            border-right: 0px solid var(--border-color);
            border-bottom: 2px solid var(--border-color);
        }
        @media only screen and (hover: none) and (pointer: coarse){
            border-right: 0px solid var(--border-color);
            border-bottom: 2px solid var(--border-color);
        }
        
    }
    &[id="collaborations"]{
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), 20%,rgba(0, 0, 0, 0.349)), 
        url('./assets/imgs/radio_room.jpg');
        background-size: cover;
        border-left: 2px solid var(--border-color);
        @media screen and (max-width: 960px) {
            border-left: 0px solid var(--border-color);
            border-top: 2px solid var(--border-color);
        }
        @media only screen and (hover: none) and (pointer: coarse){
            border-left: 0px solid var(--border-color);
            border-top: 2px solid var(--border-color);
        }
    }
    & h4{
        padding: 1rem 0rem;
    }
    & p{
        border-top: 1px solid;
        padding: 1rem;
        max-width: 24rem;
        line-height: 2rem;
    }
}
div[class="timeline-description"]{
    flex: 1;
    display: flex;
        flex-direction: column;
        align-items: start;
    border: 4px solid;
    padding: 2rem;
    max-width: 80%;
    max-width: 36rem;
    line-height: 2rem;
}
ul[class="timeline"]{
    position: relative;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
    width: fit-content;
    border-left: 4px solid;
    height: fit-content;
    & li[class="timeline-item"]{
        /* flex: 1; */
        list-style: none;
    }
    & li[class="subtimeline-item"]{
        list-style: none;
    }
    & ul[class="subtimeline"]:last-child::before{
        display: block;
        position: absolute;
        bottom: -20px;
        left: -12px;
        content: "";
        width: 20px;
        height: 20px;
        background-color: aliceblue;
        /* background-image: url(); */
    }
    & ul[class="subtimeline"]{
        display: flex;
            flex-direction: column;
            gap: 2rem;
        list-style: none;
        padding: 1rem;
    }
    /* h5 here is only for year labeling */
    & h5{
        width: fit-content;
        padding: 1rem;
        border-top: 4px solid;
    }
}