* {
    box-sizing: border-box;
}

:root {
    --textColor-default: rgb(0, 255, 200);
    --textColor-highlighted: rgb(0, 184, 144);
    color: white;
    background-color: rgb(43, 43, 43);
    font-family: monospace;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-size: 3.6rem;
    margin: 0;
    max-width: max-content;
}

h2, h3, h4, h5, h6 {
    padding: 0.5rem;
    margin: 0.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}
